{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_editar_pacientes_styles.css' %}">
</head>

    <div class="text">Agregar Paciente</div>
    <div class="btn_volver">
        <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="container_agregar_paciente">
        <form class="form_agregar_paciente" action="{% url 'agregar_paciente' %}" method="post">
            {% csrf_token %}
            <h2 class="tit_form_agregar_paciente">Añadir Paciente</h2>
            
            <div class="user-box">
                <input type="text"  maxlength="8" name="dni" required id="dni">
                <label class="label_input">DNI</label>
                <p id="dni-error" class="error-message"></p>
            </div>

            <div class="checkbox_dropdowns">
                <div class="txt_chk_dropdown">
                    <label class="label_fijo">¿Contiene alguna alergía?</label>
                    <label class="checkbox_dropdown_container">
                        <input type="checkbox" id="chk_input_alergias" name="">
                        <div class="chk_dropdown"></div>
                    </label>
                </div>
                <div class="user-box" id="if_checked_alergia">
                    <input type="text" id="alergiaInput" maxlength="200" name="alergia" required disabled>
                    <label class="label_input">Alergía</label>
                </div>
                
            </div>

            <div class="user-box">
                <input type="text" name="nombre" id="nombreInput" maxlength="50" required>
                <label class="label_input">Nombre</label>
                <p id="nombre-error" class="error-message"></p>
            </div>

            <div class="checkbox_dropdowns">
                <div class="txt_chk_dropdown">
                    <label class="label_fijo">¿Contiene alguna enfermedad crónica?</label>
                    <label class="checkbox_dropdown_container">
                        <input type="checkbox" id="chk_input_enfermedad">
                        <div class="chk_dropdown"></div>
                    </label>
                </div>
                <div class="user-box" id="if_checked_enfermedad">
                    <input type="text" id="enfermedadInput" maxlength="200" name="enfermedad" disabled required>
                    <label class="label_input">Enfermedad</label>
                </div>
                
            </div>

            <div class="user-box">
                <input type="text" name="apellido" id="apellidoInput" maxlength="50" required>
                <label class="label_input">Apellido</label>
                <p id="apellido-error" class="error-message"></p>
            </div>

            <div class="checkbox_dropdowns">
                <div class="txt_chk_dropdown">
                    <label class="label_fijo">¿Está bajo algún tratamiento médico?</label>
                    <label class="checkbox_dropdown_container">
                        <input type="checkbox" id="chk_input_tratamiento">
                        <div class="chk_dropdown"></div>
                    </label>
                </div>
                <div class="user-box" id="if_checked_tratamiento">
                    <input type="text" id="tratamientoInput" maxlength="200" name="tratamiento" disabled required="">
                    <label class="label_input">Tratamiento</label>
                </div>
                
            </div>


            <div class="user-box">
                <input type="textarea" id="direccionInput" name="direccion" maxlength="200" required>
                <label class="label_input" >Dirección</label>
                <p id="direccion-error" class="error-message"></p>
            </div>


            <div class="checkbox_dropdowns">
                <div class="txt_chk_dropdown">
                    <label class="label_fijo">¿Ha tenido enfermedades o cirugías importantes?</label>
                    <label class="checkbox_dropdown_container">
                        <input type="checkbox" id="chk_input_enf_o_cir">
                        <div class="chk_dropdown"></div>
                    </label>
                </div>
                <div class="user-box" id="if_checked_enf_o_cir">
                    <input type="textarea" id="enfCirInput" maxlength="200" name="enfermedades_cirugias" disabled required>
                    <label class="label_input">Enfermedades o cirugias</label>
                </div>
                
            </div>

            <div class="user-box email">
                <input type="email" name="email" required="">
                <label class="label_input">Email</label>
            </div>

            <div class="user-box select_container obra_social">  
                <label class="label_select">Obra Social</label>
                <div class="select">
                    <select name="obra_social">
                        <option value="osecac">Osecac</option>
                        <option value="osde">Osde</option>
                        <option value="apross">Apross</option>
                        <option value="pami">Pami</option>
                        <option value="quirófano">Swiss Medical</option>
                    </select>
                </div>
            </div>

            <div class="user-box telefono">
                <input type="tel" id="telefonoInput" name="telefono" required>
                <label class="label_input">Teléfono</label>
            </div>

            <div class="fec_nac">
                <label class="label_fec">Fecha Nacimiento</label>
                <div class="container_fec_nac">
                    <div class="mes_fec_nac">
                        <label class="label_fec">Mes</label>
                        <div class="select">
                            <select id="mes" name="mes" onchange="ocultarHorasAnteriores('lunes_manana1', 'lunes_manana2')">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <div class="dia_fec_nac">
                        <label class="label_fec">Día</label>
                        <div class="select">
                            <select id="diaSelect" name="dia" onchange="ocultarHorasPoseriores('lunes_manana2', 'lunes_manana1')">
                                <!--Verificar que meses que no tengan 31 dias no aparezca esa opcion-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="ano_fec_nac">
                        <label class="label_fec">Año</label>
                        <div class="select">
                            <select id="ano" name="ano">
                                <!-- Opciones de años -->
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="genero user-box">
                <div>
                    <label class="label_input">Género</label>
                </div>
                <div class="radios">
                    <label class="radio-button">
                        <input type="radio" checked name="example-radio" value="Masculino">
                        <span class="radio"></span>
                        Masculino
                    </label>
                  
                    <label class="radio-button">
                        <input type="radio" name="example-radio" value="Femenino">
                        <span class="radio"></span>
                        Femenino
                    </label>
                </div>
                  
            </div>
            <div class="user-box select_container enfermero">  
                <label class="label_select">Enfermero</label>
                <div class="select">
                    <select name="enfermero asignado">
                        <option value=""></option>
                        {% for en in enfermeros %}
                        <option value="{{ en.id }}">{{ en.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="internado user-box">
                <div>
                    <label class="label_input">¿Internado en el hospital?</label>
                </div>
                <div class="radios">
                    <label class="radio-button">
                        <input type="radio" id="option_si" name="internado-radio" value="si">
                        <span class="radio"></span>
                        Sí
                    </label>
                    <label class="radio-button">
                        <input type="radio" checked id="option_no" name="internado-radio" value="no">
                        <span class="radio"></span>
                        No
                    </label>
                </div>
                  
            </div>
            <div class="user-box select_container zona" id="desaparecer_with_radio2">  
                <label class="label_select">Zona</label>
                <div class="select">
                    <select name="zona paciente">
                        <option value="">Seleccione una Opción</option>
                        {% for sala in sala %}
                        
                        <option value="{{ sala.id }}">{{ sala.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            

            <div class="button_agregar_paciente">
                <button><span></span><p data-start="good luck!" data-text="PACIENTE!" data-title="AÑADIR"></p></button>
            </div>

        </form>
    </div>
    <script src="{% static '/Scripts/agregar_paciente.js' %}"></script>
    <script>
        const anoSelect = document.getElementById("ano");
        // Llena el campo de selección de años desde 1900 hasta el año actual
        const fechaActual = new Date();
        const anoActual = fechaActual.getFullYear();
        const anoInicial = 1900;

        for (let ano = anoActual; ano >= anoInicial; ano--) {
            const option = document.createElement("option");
            option.value = ano;
            option.textContent = ano;
            anoSelect.appendChild(option);
        }
    </script>
    <script>
        var chk_input_alergia = document.getElementById('chk_input_alergias');
        var label_desaparecer_alergia = document.getElementById('if_checked_alergia');
        var chk_input_enfermedad = document.getElementById('chk_input_enfermedad');
        var label_desaparecer_enfermedad = document.getElementById('if_checked_enfermedad');
        var chk_input_enf_o_cir = document.getElementById('chk_input_enf_o_cir');
        var label_desaparecer_enf_o_cir = document.getElementById('if_checked_enf_o_cir');
        var chk_input_tratamiento = document.getElementById('chk_input_tratamiento');
        var label_desaparecer_tratamiento = document.getElementById('if_checked_tratamiento');
        var chk_input_internado = document.getElementById('option_si');
        var chk_input_internado2 = document.getElementById('option_no');
        var desaparecer_radio1 = document.getElementById('desaparecer_with_radio1');
        var desaparecer_radio2 = document.getElementById('desaparecer_with_radio2');

        chk_input_alergia.addEventListener('change', function() {
        if (chk_input_alergia.checked) {
            label_desaparecer_alergia.style.opacity = '1';
        } else {
            label_desaparecer_alergia.style.opacity = '0';
        }
        });

        chk_input_enfermedad.addEventListener('change', function() {
            if (chk_input_enfermedad.checked) {
                label_desaparecer_enfermedad.style.opacity = '1';
            } else {
                label_desaparecer_enfermedad.style.opacity = '0';
            }
            });
        chk_input_enf_o_cir.addEventListener('change', function() {
            if (chk_input_enf_o_cir.checked) {
                label_desaparecer_enf_o_cir.style.opacity = '1';
            } else {
                label_desaparecer_enf_o_cir.style.opacity = '0';
            }
            });
        chk_input_tratamiento.addEventListener('change', function() {
            if (chk_input_tratamiento.checked) {
                label_desaparecer_tratamiento.style.opacity = '1';
            } else {
                label_desaparecer_tratamiento.style.opacity = '0';
            }
            });

        chk_input_internado.addEventListener('change', function() {
            if (chk_input_internado.checked) {
                desaparecer_radio1.style.opacity = '1';
                desaparecer_radio2.style.opacity = '1';
            } 
            });

        chk_input_internado2.addEventListener('change', function() {
            if (chk_input_internado2.checked) {
                desaparecer_radio1.style.opacity = '0';
                desaparecer_radio2.style.opacity = '0';
            } 
            });


    </script>


{% endblock %}