{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_editar_medicos_enfermeros_styles.css' %}">
</head>

    <div class="text">Agregar Usuario</div>
    <div class="btn_volver">
        <a href="/users"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="container_agregar_medico_enfermero">
        <form class="form_agregar_medico_enfermero"  method="post">
            {% csrf_token %}
            {{ form.as_p  }}
            <div class="button_agregar_medico_enfermero">
                <button><span></span><p data-start="good luck!" data-text="USUARIO!" data-title="AGREGAR"></p></button>
            </div>

        </form>
    </div>
    <script src="{% static '/Scripts/agregar_user.js' %}"></script>
    <script>
        const anoSelect = document.getElementById("ano");
        // Llena el campo de selección de años desde 1900 hasta el año actual
        const fechaActual = new Date();
        const anoActual = fechaActual.getFullYear();
        const anoInicial = 1900;

        for (let ano = anoActual; ano >= anoInicial; ano--) {
            const option = document.createElement("option");
            option.value = ano;
            option.textContent = ano;
            anoSelect.appendChild(option);
        }
    </script>


{% endblock %}