{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_editar_sala_styles.css' %}">
</head>

<body>
    <div class="text">Agregar Sala</div>
    <div class="btn_volver">
        <a href="/areas"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <form class="form_agregar_sala" action="{% url 'procesar_formulario' %}" method="post">
        {% csrf_token %}
        <h2 class="tit_form_agregar_sala">Crear Sala</h2>
        <div class="user-box">
            <input type="text" name="nombre" required="">
            <label class="label_input">Nombre</label>
        </div>
        <div class="user-box">  
            <label class="label_select">Tipo de Sala</label>
            <div class="select">
                <select name="select_salas">
                    <option value="box">Box</option>
                    <option value="traumatismos">Traumatismos</option>
                    <option value="camas frias">Camas Frias</option>
                    <option value="shockroom">Shockroom</option>
                    <option value="quirófano">Quirófano</option>
                </select>
            </div>
        </div>
        <div class="button_agregar_sala">
            <button><span></span><p data-start="good luck!" data-text="SALA!" data-title="CREAR"></p></button>
         </div>
    </form>
</body>

{% endblock %}