{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_llamadas_styles.css' %}">
</head>

    <div class="text">Agregar Llamada</div>
    <div class="btn_volver">
        <a href="/calls"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="container_agregar_llamada">
        <form class="form_agregar_llamada" action="{% url 'agregar_llamadas' %}" method="post">

            {% csrf_token %}
            <div class="tit_form_agregar_llamada">
                <div></div>
                <h2>Añadir Llamada</h2>
                <a href="/agregar_paciente">Registrar Paciente</a>
            </div>
            <div class="user-box">
                <select required name="paciente">
                    <option value="">Seleccione un paciente</option>
                    {% for paciente in pacientes %}
                        <option value="{{ paciente }}">DNI: {{ paciente.DNI }}, NOMBRE: {{ paciente.nombre}} {{ pacinte.apellido }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="user-box">
                <input type="text"  maxlength="500" name="diagnostico" required id="diagnostico">
                <label class="label_input">Diagnostico</label>
            </div>
            <div class="user-box select_container calificacion_triage">  
                <label class="label_select">Calificación Triage</label>
                <div class="select">
                    <select name="calificacion_triage" id="triage" required>
                        <option value="">Seleccione una opción</option>
                        <option value="blanco">Blanco</option>
                        <option value="azul">Azul</option>
                        <option value="verde">Verde</option>
                        <option value="amarillo">Amarillo</option>
                        <option value="naranja">Naranja</option>
                        <option value="rojo">Rojo</option>
                    </select>
                </div>
            </div>
            <div class="user-box select_container zona">  
                <label class="label_select">Sala</label>
                <div class="select">
                    <select name="Sala" id="Sala" required>
                        <option value="">Seleccione una Sala</option>
                        {% for sala in salas %}
                            {% if sala.id != 0 %}
                            <option value="{{ sala.id }}">{{ sala.nombre }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="user-box select_container especialidad">
                <label class="label_select">Especialidad Requerida</label>
                <div class="select" required>
                    <select name="especialidad" required>
                        <option value="">Seleccione una Especialidad</option>
                        <option value="medicina interna">Medicina Interna</option>
                        <option value="pediatría">Pediatría</option>
                        <option value="ginecología">Ginecología</option>
                        <option value="otorrinolaringología">Otorrinolaringología</option>
                        <option value="cardiología">Cardiología</option>
                        <option value="traumatología">Traumatología</option>
                        <option value="urología">Urología</option>
                        <option value="radiología">Radiología</option>
                        <option value="psiquiatría">Psiquiatría</option>
                        <option value="anestesiología">Anestesiología</option>
                        <option value="oftalmología">Oftalmología</option>
                        <option value="neurología">Neurología</option>
                        <option value="dermatología">Dermatología</option>
                        <option value="cirugía general">Cirugía General</option>
                        <option value="anestesiología">Anestesiología</option>
                        <option value="ortopedia">Ortopedia</option>
                        <option value="infectología">Infectología</option>
                        <option value="endocrinología">Endocrinología </option>
                        <option value="traumatología">Ortopedia</option>
                        <option value="infectología">Infectología</option>
                        <option value="gastroenterología">Gastroenterología</option>
                        <option value="hematología">Hematología</option>
                        <option value="oncología">Oncología</option>
                        <option value="reumatología">Reumatología</option>
                        <option value="endoscopia">Endoscopia</option>
                        <option value="nefrología">Nefrología</option>
                    </select>
                </div>
            </div>

            <div class="user-box select_container ubicacion" id= "ubicacion_div">
                <label class="label_select">Ubicación</label>
                <div class="select">
                    <select name="ubicacion" id="ubicacion">
                        <option value="cama">Cama</option>
                        <option value="baño">Baño</option>
                    </select>
                </div>
            </div>

            <div class="button_agregar_llamada">
                <button><span></span><p data-start="good luck!" data-text="Llamada!" data-title="AÑADIR"></p></button>
            </div>

        </form>
    </div>
    <script src="{% static '/Scripts/agregar_paciente.js' %}"></script>
    <script>
        const triage = document.getElementById('triage');
        const triagevalor = triage.value;
        const ubicacion = document.getElementById('ubicacion');
        const sala = document.getElementById('Sala');
        

        // Agregar un controlador de eventos al elemento 'triage' para detectar cambios.
        triage.addEventListener('change', function() {
            // Obtener el valor seleccionado en 'triage'.
            const triageValor = triage.value;

            // Verificar el valor seleccionado y mostrar/ocultar elementos en consecuencia.
            if (triageValor === 'blanco') {
                // Si 'blanco' está seleccionado, mostrar 'ubicacion' y ocultar 'sala'.
                ubicacion.style.display = 'block';
                sala.style.display = 'none';
            } else {
                // En caso contrario, mostrar 'sala' y ocultar 'ubicacion'.
                ubicacion.style.display = 'none';
                sala.style.display = 'block';
            }
        });

    </script>


{% endblock %}