{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/areas_styles.css' %}">
</head>
<div class="text">Salas</div>
<div class="container_salas">
    <a href="/agregar_sala" class="crear_sala_card">
        <div class="icon_agregar_sala"><i class="fa-solid fa-plus"></i></div>
        <div class="txt_agregar_sala">
            <p>Agregar Sala</p>
        </div>
    </a>
    {% for sala in salas %}
    <div class="sala">
        <div class="editar_y_eliminar">
            <a href="{% url 'editar_sala' sala.id %}">Editar</a>
            <div class="borrar_sala" id="eliminar-sala" data-sala-id="{{ sala.id }}" onclick="eliminar_sala('{{ sala.id }}')">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        
        <div class="container_sala">
            <div class="desc_sala">
                <div class="nombre_sala">
                    <p>{{  sala.nombre }}</p>
                </div>
                <p class="tipo_sala">
                    {{  sala.tipo_sala }}
                </p>
            </div>
            <div class="icon_sala">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
<script>
        function eliminar_sala(salaId) {
            const confirmacion = confirm('¿Estás seguro de que deseas borrar esta sala?');
            
            if (confirmacion) {
                // El usuario hizo clic en "Aceptar", redirige al usuario
                window.location.href = `/eliminar_objeto/Salas/${salaId}/`;
            } else {
                // El usuario hizo clic en "Cancelar" o cerró el cuadro de diálogo
                // Puedes realizar alguna acción adicional o simplemente no hacer nada
            }
        };
    </script>
{% endblock %}