{% extends 'layouts/nav.html' %} {% load static %} {% block content %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- custom css file link  -->
  <link rel="stylesheet" href="{% static '/styles/calls.css' %}" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="text">Llamadas</div>
  <div class="container">
    <div class="box-container">
      <div class="box">
        <img src="../static/images/sirens.png" alt="" />
        <h3>Asistencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 1&nbsp;<i class="fa-solid fa-toilet fa-beat-fade"></i
          >&nbsp;(Baño)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>

      <div class="box">
        <img src="../static/images/siren.png" alt="" />
        <h3>Emergencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 2&nbsp;<i class="fa-solid fa-toilet fa-beat-fade"></i
          >&nbsp;(Baño)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>

      <div class="box">
        <img src="../static/images/sirens.png" alt="" />
        <h3>Asistencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 3&nbsp;<i class="fa-solid fa-toilet fa-beat-fade"></i
          >&nbsp;(Baño)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>

      <div class="box">
        <img src="../static/images/sirens.png" alt="" />
        <h3>Asistencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 2&nbsp;<i class="fa-solid fa-toilet fa-beat-fade"></i
          >&nbsp;(Baño)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>

      <div class="box">
        <img src="../static/images/sirens.png" alt="" />
        <h3>Asistencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 5&nbsp;<i class="fa-solid fa-bed fa-beat-fade"></i>&nbsp;(Cama)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>

      <div class="box">
        <img src="../static/images/siren.png" alt="" />
        <h3>Emergencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 6&nbsp;<i class="fa-solid fa-bed fa-beat-fade"></i>&nbsp;(Cama)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>
      <div class="box">
        <img src="../static/images/siren.png" alt="" />
        <h3>Emergencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 7&nbsp;<i class="fa-solid fa-bed fa-beat-fade"></i>&nbsp;(Baño)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>
      <div class="box">
        <img src="../static/images/sirens.png" alt="" />
        <h3>Asistencia</h3>
        <p>Nombre Apellido</p>
        <p>
          Sala 8&nbsp;<i class="fa-solid fa-bed fa-beat-fade"></i>&nbsp;(Cama)
        </p>
        <a href="#" class="btn">Atender</a>
      </div>
    </div>
  </div>
</body>
{% endblock %}
