{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_editar_sala_styles.css' %}">
</head>

<body>
    <div class="text">Editar Sala</div>
    <form class="form_agregar_sala" action="" method="post">
        <h2 class="tit_form_agregar_sala">Editar Sala</h2>
        <div class="user-box">
            <input type="text" name="" value="Nombre Sala" required="">
            <label class="label_input">Nombre</label>
        </div>
        <div class="user-box">  
            <label class="label_select">Tipo de Sala</label>
            <div class="select">
                <select name="">
                    <option value="box">Box</option>
                    <option selected="true" value="traumatismos">Traumatismos</option>
                    <option value="camas frias">Camas Frias</option>
                    <option value="shockroom">Shockroom</option>
                    <option value="quirófano">Quirófano</option>
                </select>
            </div>
        </div>
        <div class="button_agregar_sala">
            <button><span></span><p data-start="good luck!" data-text="SALA!" data-title="EDITAR"></p></button>
         </div>
    </form>
</body>

{% endblock %}