{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static '/styles/agregar_editar_medicos_enfermeros_styles.css' %}">
</head>

    <div class="text">Editar Usuario</div>
    <div class="btn_volver">
        <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="container_agregar_medico_enfermero">
        <form class="form_agregar_medico_enfermero" action="" method="post">
            {% csrf_token %}
            <div class="borrar_usuario">
                <a href="{% url 'eliminar_objeto' 'User' users.id   %}">Borrar</a>
            </div>
            <h2 class="tit_form_agregar_medico_enfermero">Editar Usuario</h2>
            
            <div class="user-box">
                <input type="text" value="{{ users.nombre }}" name="nombre" id="nombreInput" maxlength="50" required>
                <label class="label_input">Nombre</label>
                <p id="nombre-error" class="error-message"></p>
            </div>


            <div class="user-box">
                <input type="text" value="{{ users.apellido }}" name="apellido" id="apellidoInput" maxlength="50" required>
                <label class="label_input">Apellido</label>
                <p id="apellido-error" class="error-message"></p>
            </div>

            <div class="user-box email">
                <input type="email" value="{{ users.email }}" name="email" required="">
                <label class="label_input">Email</label>
            </div>

            <div class="user-box telefono">
                <input type="tel"  value="{{ users.telefono }}" id="telefonoInput" name="telefono" required>
                <label class="label_input">Teléfono</label>
            </div>

            <h2 class="tit_form_agregar_medico_enfermero">Cambiar Contraseña</h2>

            <div class="user-box email">
                <input type="password" name="password-act" required id="password-act">
                <label class="label_input">Contraseña Actual</label>
                <p id="contraseña-act-error" class="error-message"></p>
            </div>

            <div class="nada">
            </div>

            <div class="user-box email">
                <input type="password" name="password" required id="password">
                <label class="label_input">Nueva Contraseña</label>
                <p id="contraseña-error" class="error-message"></p>
            </div>

            <div class="user-box email">
                <input type="password" name="" required  id="confirm_password">
                <label class="label_input">Verifique la Nueva Contraseña</label>
                <p id="contraseña-conf-error" class="error-message"></p>
            </div>

            <div class="button_agregar_medico_enfermero">
                <button><span></span><p data-start="good luck!" data-text="USUARIO!" data-title="MODIFICAR"></p></button>
            </div>

        </form>
    </div>
    <script src="{% static '/Scripts/agregar_user.js' %}"></script>
    <script>
        // Asigna la contraseña actual a una variable de JavaScript
        var contraseñaActual = "{{ users.contraseña }}";
        var error_Actual = document.getElementById("contraseña-act-error")
    
        function validarContraseñaActual() {
            var contraseñaIngresada = document.getElementById('password-act').value;
    
            if (contraseñaIngresada !== contraseñaActual) {
                event.preventDefault(); // Evita que el formulario se envíe
                error_Actual.textContent = "Las contraseña no es correcta";
                error_Actual.style.color = "#EE5162";
                error_Actual.style.display = "block";
                error_Actual.scrollIntoView();
                return false;
            }
    
            return true;
        }
    
        document.querySelector('.form_agregar_medico_enfermero').addEventListener('submit', function(event) {
            if (!validarContraseñaActual()) {
                event.preventDefault();
            }
        });
    </script>

{% endblock %}