{% extends 'layouts/nav.html' %} {% load static %} {% block content %}
<head>
    <link rel="stylesheet" href="{% static '/styles/tabla_paciente_styles.css' %}">
</head>
<div class="btn_volver">
    <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
</div>
    <div class="text">Historial Clínico Jovan Martinovic</div>
    <div class="table">
        
        <section class="table__header">
            <h1>Historial</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar...">
                <img src="../static/images/search.png" alt="">
            </div>
            <div>
                
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> DNI</th>
                        <th> Nombre</th>
                        <th> Apellido</th>
                        <th> Diagnóstico</th>
                        <th> Fecha de turno</th>
                    </tr>
                </thead>
                {% for llamadas in llamadas %}
                <tbody>
                    <img src="" alt="">
                    <tr>
                        <td> {{ pacientes.id }} </td>
                        <td> {{ pacientes.DNI }}</td>
                        <td> {{ pacientes.nombre }}</td>
                        <td> {{ pacientes.apellido }}</td>
                        <td> {{ llamadas.diagnostico }}</td>
                        <td> {{ llamadas.fecha_hora }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </section>
    </div>
    <script src="{% static '/Scripts/pacientes_tabla_script.js' %}"></script>
{% endblock %}