{% extends 'layouts/nav.html' %} {% load static %} {% block content %}
<head>
    <link rel="stylesheet" href="{% static '/styles/tabla_paciente_styles.css' %}">
</head>
    <div class="text">Historial Llamadas</div>
    <div class="table">
        
        <section class="table__header">
            <h1>Historial</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar Llamados...">
                <img src="../static/images/search.png" alt="">
            </div>
            <div>
                
            </div>
        </section>
        <section class="table__body">
            <table>
                
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> DNI</th>
                        <th> Nombre</th>
                        <th> Apellido</th>
                        <th> Diagnóstico</th>
                        <th> Fecha de turno</th>
                        <th> Tipo</th>
                        <th> Estado</th>
                    </tr>
                </thead>
                {% for llamada in llamadas %}
                <tbody>
                    <img src="" alt="">
                    <tr>
                        <td> {{ llamada.id }} </td>
                        <td> {{ llamada.id_paciente.DNI }}</td>
                        <td> {{ llamada.id_paciente.nombre }}</td>
                        <td> {{ llamada.id_paciente.apellido }}</td>
                        <td> {{ llamada.diagnostico }}</td>
                        <td> {{ llamada.fecha_hora }}</td>
                        <td> {{ llamada.tipo_llamado }}</td>
                        <td> {{ llamada.estado }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </section>
    </div>
    <script src="{% static '/Scripts/pacientes_tabla_script.js' %}"></script>
{% endblock %}