{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio sesión</title>
    <link rel="stylesheet" href="{% static '/styles/login_styles.css' %}">
</head>
<body>
    <form action="POST" class="login">
        <div class="titulo_login"><h2>Iniciar Sesión</h2></div>
        <div class="usuario_login">
            <label for="">Usuario</label>
            <input type="text" name="Usuario" id="">
        </div>
        <div class="contra_login">
            <label for="">Usuario</label>
            <input type="password" name="Contraseña" id="">
        </div>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>