{% extends 'layouts/nav.html' %} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static '/Styles/perfil_medico_enfermero_styles.css' %}">
</head>
<div class="text">Perfíl Enfermero</div>
<div class="btn_volver">
    <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<div class="container_perfil_medico_enfermero">
    <div class="perfil_medico_enfermero">
        <div class="editar_perfil">
            <a href="/editar_enfermero">Editar</a>
        </div>
        <div class="nombre_apellido">
            <h2>Jovan Martinovic</h2>
        </div>
        <a href="javascript:history.back(-1)" class="borrar">Borrar</a>
        <div class="item_perfil izquierda_perfil">
            <p>Matrícula:</p> <p>12345678</p>
        </div>

        <div class="item_perfil horario">
            <h3>Horarios</h3>
            <div class="dia_semana">
                <p>Lunes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Martes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Miercoles:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Jueves:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Viernes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Sábado:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Domingo:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>09:00</span>/<span>12:00</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>--:--</span>/<span>--:--</span></p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="item_perfil izquierda_perfil">
            <p>DNI:</p> <p>94651007</p>
        </div>

        <div class="item_perfil izquierda_perfil">
            <p>Género:</p> <p>Másculino</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Fecha Nacimiento: </p><p>19/02/2005</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Dirección: </p> <p>Argentina, Córdoba, La Cumbre, Pellegrini 11</p>
        </div>
        <div class="item_perfil izquierda_perfil telefono">
            <p>Teléfono: </p> <p>3548 40-0949</p>
        </div>
        <div class="item_perfil izquierda_perfil email">
            <p>Email: </p> <p>jovan4182@gmail.com</p>
        </div>
        

    </div>
</div>

{% endblock %}