{% extends 'layouts/nav.html' %} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static '/Styles/perfil_paciente.css' %}">
</head>
<div class="text">Perfíl Paciente</div>
<div class="historial_clinico">
    <a href="{% url 'historial_clinico' paciente.id %}">Historial Clínico</a>
</div>
<div class="btn_volver">
    <a href="/pacientes"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<div class="container_perfil_paciente">
    <div class="perfil_paciente">
        <div class="editar_perfil">
            <a href="{% url 'editar_paciente' paciente.id %}">Editar</a>
        </div>
        <div class="nombre_apellido">
            <h2>{{ paciente.nombre }} {{ paciente.apellido }}</h2>
        </div>
        <a id="eliminar_enfermero" class="borrar" onclick="eliminar_sala('{{ paciente.id }}')" >Borrar</a>
        <div class="item_perfil izquierda_perfil">
            <p>DNI:</p> <p>{{ paciente.DNI }}</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Género:</p> <p>{{ paciente.genero }}</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Fecha Nacimiento: </p><p>{{ paciente.fecha_nacimiento }}</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Dirección: </p> <p>{{ paciente.direccion }}</p>
        </div>
        <div class="item_perfil izquierda_perfil telefono">
            <p>Teléfono: </p> <p>{{ paciente.telefono }}</p>
        </div>
        <div class="item_perfil izquierda_perfil email">
            <p>Email: </p> <p>{{ paciente.email }}</p>
        </div>
        <div class="item_perfil derecha_perfil derecha1">
            <p>Alergias: </p><p>{% if paciente.alergia == None %}No{% else %} {{ paciente.alergia }} {% endif %}</p>
        </div>
        <div class="item_perfil derecha_perfil derecha2">
            <p>Enfermedades crónicas: </p><p>{% if paciente.enfermedad_cronica == None %}No{% else %} {{ paciente.enfermedad_cronica }} {% endif %}</p>
        </div>
        <div class="item_perfil derecha_perfil derecha3">
            <p>Bajo algún tratamiento médico: </p><p>{% if paciente.tratamiento_medico  == None %}No{% else %} {{ paciente.tratamiento_medico }} {% endif %}</p>
        </div>
        <div class="item_perfil derecha_perfil derecha4">
            <p>Enfermedades o cirugias importantes: </p><p>{% if paciente.enfermedades_o_cirugias  == None %}No{% else %} {{ paciente.enfermedades_o_cirugias }} {% endif %}</p>
        </div>
        <div class="item_perfil derecha_perfil derecha5">
            <p>¿Internado en Hospital?: </p><p>{{ paciente.internado }}</p>
        </div>
        {% if paciente.internado == 'si' %}
            <div class="zona_enfermero">
                <div class="item_perfil derecha_perfil derecha5">
                    <p>Box: </p> <p>{{ paciente.sala.nombre }}</p>
                </div>
                <div class="item_perfil derecha_perfil derecha6">
                    <p>Enfermero/a asignado: </p> <p>{{ paciente.enfermero.nombre }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    function eliminar_sala(salaId) {
        const confirmacion = confirm('¿Estás seguro de que deseas borrar este paciente?');
        
        if (confirmacion) {
            // El usuario hizo clic en "Aceptar", redirige al usuario
            window.location.href = `/eliminar_objeto/Paciente/${salaId}/`;
        } else {
            // El usuario hizo clic en "Cancelar" o cerró el cuadro de diálogo
            // Puedes realizar alguna acción adicional o simplemente no hacer nada
        }
    };
</script>
{% endblock %}