{% extends 'layouts/nav.html' %} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static '/Styles/perfil_paciente.css' %}">
</head>
<div class="text">Perfíl Paciente</div>
<div class="historial_clinico">
    <a href="/historial_clinico">Historial Clínico</a>
</div>
<div class="btn_volver">
    <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<div class="container_perfil_paciente">
    <div class="perfil_paciente">
        <div class="editar_perfil">
            <a href="/editar_paciente">Editar</a>
        </div>
        <a href="javascript:history.back(-1)" class="borrar">Borrar</a>
        <div class="nombre_apellido">
            <h2>Jovan Martinovic</h2>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>DNI:</p> <p>94651007</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Género:</p> <p>Másculino</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Fecha Nacimiento: </p><p>19/02/2005</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Dirección: </p> <p>Argentina, Córdoba, La Cumbre, Pellegrini 11</p>
        </div>
        <div class="item_perfil izquierda_perfil telefono">
            <p>Teléfono: </p> <p>3548 40-0949</p>
        </div>
        <div class="item_perfil izquierda_perfil email">
            <p>Email: </p> <p>jovan4182@gmail.com</p>
        </div>
        <div class="item_perfil derecha_perfil derecha1">
            <p>Alergias: </p><p>Ninguna</p>
        </div>
        <div class="item_perfil derecha_perfil derecha2">
            <p>Enfermedades crónicas: </p><p>Ninguna</p>
        </div>
        <div class="item_perfil derecha_perfil derecha3">
            <p>Bajo algún tratamiento médico: </p><p>Ninguna</p>
        </div>
        <div class="item_perfil derecha_perfil derecha4">
            <p>Enfermedades o cirugias importantes: </p><p>Ninguna</p>
        </div>
        <div class="item_perfil derecha_perfil derecha5">
            <p>Internado: </p><p>Sí</p>
        </div>
        <div class="zona_enfermero">
            <div class="item_perfil derecha_perfil ">
                <p>Zona: </p> <p>Sala 54</p>
            </div>
            <div class="item_perfil derecha_perfil ">
                <p>Enfermero/a asignado: </p> <p>Patricia Bullrich</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}