{% extends 'layouts/nav.html' %} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static '/Styles/perfil_medico_enfermero_styles.css' %}">
</head>
<div class="text">Perfíl Médico</div>
<div class="btn_volver">
    <a href="javascript:history.back(-1)"><i class="fa-solid fa-arrow-left"></i></a>
</div>

<div class="container_perfil_medico_enfermero">
    <div class="perfil_medico_enfermero">
        <div class="editar_perfil">
            <a href="{% url 'editar_medico' medicos.id %}">Editar</a>
        </div>
        <a id="eliminar_enfermero" class="borrar" onclick="eliminar_sala('{{ medicos.id }}')" >Borrar</a>
        <div class="nombre_apellido">
            <h2>{{ medicos.nombre }}</h2>
        </div>

        <div class="item_perfil izquierda_perfil">
            <p>Matrícula:</p> <p>{{ medicos.matricula }}</p>
        </div>

        <div class="item_perfil horario">
            <h3>Horarios</h3>
            <div class="dia_semana">
                <p>Lunes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.lunesMI}}</span>/<span>{{medicos.lunesMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.lunesTI}}</span>/<span>{{medicos.lunesTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Martes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.martesMI}}</span>/<span>{{medicos.martesMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.martesTI}}</span>/<span>{{medicos.martesTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Miercoles:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.miercolesMI}}</span>/<span>{{medicos.miercolesMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.miercolesTI}}</span>/<span>{{medicos.miercolesTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Jueves:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.juevesMI}}</span>/<span>{{medicos.miercolesMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.juevesTI}}</span>/<span>{{medicos.juevesTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Viernes:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.viernesMI}}</span>/<span>{{medicos.viernesMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.viernesTI}}</span>/<span>{{medicos.viernesTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Sábado:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.sabadoMI}}</span>/<span>{{medicos.sabadoMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.sabadoTI}}</span>/<span>{{medicos.sabadoTF}}</span></p>
                    </div>
                </div>
            </div>
            <div class="dia_semana">
                <p>Domingo:</p>
                <div class="manana_tarde">
                    <div class="item_manana_tarde">
                        <p>M: </p><p><span>{{medicos.domingoMI}}</span>/<span>{{medicos.domingoMF}}</span></p>
                    </div>
                    <div class="item_manana_tarde">
                        <p>T: </p><p> <span>{{medicos.domingoTI}}</span>/<span>{{medicos.domingoTF}}</span></p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="item_perfil izquierda_perfil">
            <p>DNI:</p> <p>{{ medicos.DNI }}</p>
        </div>

        <div class="item_perfil izquierda_perfil">
            <p>Género:</p> <p>{{ medicos.genero }}</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Fecha Nacimiento: </p><p>{{ medicos.fecha_nacimiento }}</p>
        </div>
        <div class="item_perfil izquierda_perfil">
            <p>Dirección: </p> <p>{{ medicos.direccion }}</p>
        </div>
        <div class="item_perfil izquierda_perfil telefono">
            <p>Teléfono: </p> <p>{{ medicos.telefono }}</p>
        </div>
        <div class="item_perfil izquierda_perfil email">
            <p>Email: </p> <p>{{ medicos.email }}</p>
        </div>
        <div class="item_perfil izquierda_perfil especialidad">
            <p>Especialidad:</p> <p>{{ medicos.especialidad }}</p>
        </div>
        

    </div>
</div>

<script>
    function eliminar_sala(salaId) {
        const confirmacion = confirm('¿Estás seguro de que deseas borrar este medico?');
        
        if (confirmacion) {
            // El usuario hizo clic en "Aceptar", redirige al usuario
            window.location.href = `/eliminar_objeto/Medico/${salaId}/`;
        } else {
            // El usuario hizo clic en "Cancelar" o cerró el cuadro de diálogo
            // Puedes realizar alguna acción adicional o simplemente no hacer nada
        }
    };
</script>

{% endblock %}