{% extends 'layouts/nav.html' %} {% load static %} {% block content %}
<head>
    <link rel="stylesheet" href="{% static '/styles/tabla_paciente_styles.css' %}">
</head>
    <div class="text">Usuarios</div>
    <div class="agregar_users">
        <a href="/agregar_users">Agregar Usuario</a>
    </div>
    <div class="table">
        
        <section class="table__header">
            <h1>Users</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar paciente...">
                <img src="../static/images/search.png" alt="">
            </div>
            <div>
                
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Editar</th>
                        <th> ID</th>
                        <th> Rol</th>
                        

                    </tr>
                </thead>
                {% for user in users %}
                <tbody>
                    <img src="" alt="">
                    <tr>
                        <td> <a href="{% url 'editar_users' user.id %}""> editar</a></td>
                        <td> {{  user.id  }} </td>
                        <td> {{  user.role }}</td>
                    </tr>
                    
                </tbody>
                {% endfor %}
            </table>
        </section>
    </div>
    <script src="{% static '/Scripts/pacientes_tabla_script.js' %}"></script>
{% endblock %}