.container_salas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3.5em;
    column-gap: 6vw;
    padding: 2em;
}

.crear_sala_card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 3em 1em;
    border: 2px solid #2F2F2F;
    border-radius: 1em;
    color: white;
    text-decoration: none;
}





.txt_agregar_sala{
    padding: .35em;
    border-radius: .5em;
    background-color: #7A69E9;
}

.icon_agregar_sala{
    border-radius: 100%;
    display: flex;
    padding: .9em;
    justify-content: center;
    align-items: center;
    background-color: #7A69E9;
    color: white;
}

.sala{
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: 1em;
    padding: .5em 1em 2.2em .6em;
    border: 2px solid #2F2F2F;
}

.editar_y_eliminar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editar_y_eliminar a{
    color: white;
    font-size: .83em;
}


.borrar_sala{
    color: white;
    background-color: #FF3B3B;
    border-radius: 100%;
    padding: .2em .3em;
    border: 1.5px solid #a12525;
}

.container_sala{
    display: flex;
    align-items: center;
    padding: 0 1em;
    gap: 1em;
}

.nombre_sala{
    background-color: #7A69E9;
    padding: .35em;
    border-radius: .5em;
    color: white;
    text-align: center;
}
.icon_sala{
    background-color: white;
    border-radius: 100%;
    padding: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc_sala{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: .7em;
    text-align: center;
}
.tipo_sala{
    color: #686868;
}