body{
    position: relative;
}

.atender_llamadas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 1.5em;
    margin: 0 auto 0;
    padding: 3em;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    width: 70%;
    color: white;
    position: relative;
}



.container_atender_llamadas{
    padding: 3em 0 5em;
}

.nombre_apellido{
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 2em;

}

.zona_enfermero{
    grid-column: 2/3;
    grid-row: 6/8;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    border: 2px solid rgb(141, 175, 191);
    border-radius: .5em;
}

.item_perfil{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.info_llamada{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.datos_paciente{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}


.llamado_atendido{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: .8em;
    border-radius: .5em;
    
}

.llamado_atendido_container{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    margin-top: 2em;
}