{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/styles/nav_styles.css' %}" />
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
        <div class="logo_details">
          
          <div class="logo_name">Código Azul</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/calls">
              <i class="fa-solid fa-house"></i>
              <span class="link_name">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
          </li>
          <li>
            <a href="/dashboard">
              <i class="bx bx-grid-alt"></i>
              <span class="link_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li>
            <a href="/historial_llamadas">
              <i class="fa-solid fa-clock-rotate-left"></i>
              <span class="link_name">Historial</span>
            </a>
            <span class="tooltip">Historial</span>
          </li>
          <li>
            <a href="/pacientes">
              <i class="fa-solid fa-users"></i>
              <span class="link_name">Pacientes</span>
            </a>
            <span class="tooltip">Pacientes</span>
          </li>
          <li>
            <a href="/areas">
              <i class="fa-solid fa-bed"></i>
              <span class="link_name">Salas</span>
            </a>
            <span class="tooltip">Salas</span>
          </li>
          <li>
            <a href="/enfermeros">
              <i class="fa-solid fa-user-nurse"></i>
              <span class="link_name">Enfermeros</span>
            </a>
            <span class="tooltip">Enfermeros</span>
          </li>
          <li>
            <a href="/medicos">
              <i class="fa-solid fa-user-doctor"></i>
              <span class="link_name">Médicos</span>
            </a>
            <span class="tooltip">Médicos</span>
          </li>
          <!--<li>
            <a href="#">
              <i class="bx bx-cog"></i>
              <span class="link_name">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
          </li>-->
          <li class="profile">
            <div class="profile_details">
              <img
                src="{% static '/images/Portrait_Placeholder.png' %}"
                alt="profile image"
              />
              <div class="profile_content">
                <div class="name"></div>
                <div class="designation">{{ user.username }}</div>
              </div>
            </div>
            <a class="logout_icon" href="{% url 'login' %}" id="log_out"><i class="bx bx-log-out"></i></a>
          </li>
        </ul>
      </div>
      
    </div>
    <section class="home-section">{% block content %} {% endblock %}</section>

    <script src="{% static '/Scripts/nav_script.js' %}"></script>
  </body>
</html>
